/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  display: flex;
  flex-direction: column;
  background-color: #222; /* Darker gray background */
  color: white; /* White text color */
  font-family: "Times New Roman", Times, serif; /* Use Times font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main {
  width: device-width;
  display: flex;
  flex: 1; /* Makes the main area take up the remaining space */
}

.navigation {
  width: 150px;
  padding: 10px;
  height: 100%;
  top: 0;
}


.content {
  flex-grow: 1;
  padding: 10px;
  margin-left: 10px;
  max-width: 100%;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


p {
  text-align: block;
  padding-left: 20px;
  padding-right: 40px;
}

a {
    color: rgba(211, 211, 211, 0.726);
}

img{
  max-width: 90%; /* Ensures images don't exceed the container width */
  height: auto; /* Keeps the aspect ratio intact */
}

.no-style {
  padding-left: 20px; /* Remove the padding */
  color: inherit; /* Inherit text color (or any color you prefer) */
  background-color: inherit; /* Inherit background color */
}
