/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: #222; /* Darker gray background */
  color: white; /* White text color */
  font-family: "Times New Roman", Times, serif; /* Use Times font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

h1, h2, h3, h4, h5, h6 {
  padding-left: 20px; /* 20px padding for headings */
}

p {
  text-align: left; /* Left-align the text */
  padding-left: 40px; /* 40px padding for other text */
}

a {
    color: rgba(211, 211, 211, 0.726);
}

img{
  padding-left: 40px; /* 20px padding for headings */
}

.no-style {
  padding-left: 20px; /* Remove the padding */
  color: inherit; /* Inherit text color (or any color you prefer) */
  background-color: inherit; /* Inherit background color */
}
