body {
  display: flex;
  flex-direction: column;
  background-color: #222; /* Darker gray background */
  color: white; /* White text color */
  font-family: "Times New Roman", Times, serif; /* Use Times font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main {
  width: device-width;
  display: flex;
  flex: 1; /* Makes the main area take up the remaining space */
}

.navigation {
  position: sticky;
  width: 150px;
  padding: 10px;
  height: 100%;
  top: 0;
  margin-left: auto;
}
.nav_list{
  list-style-type: none;
  padding-left: 10px
}

.content {
  max-width: 1400px;
  padding: 10px;
  margin: auto;
  width: 100%;
}

.img_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

p {
  text-align: block;
  padding-left: 20px;
  padding-right: 40px;
}

.desc{
  padding-left: 0px;
  text-align: center;
}

a {
    color: rgba(211, 211, 211, 0.726);
}


.img_set{
  display: flex; /* Use flexbox to align images next to each other */
  flex-wrap: wrap; /* Allow images to wrap onto the next line if necessary */
  gap: 10px; /* Space between images */
  justify-content: center; /* Align images to the start */
  margin: auto;
}

.img_set img{
  min-width: 300px;
  width: 32%;
}

img{
  width: 100%;
  max-width: 1200px; /* Ensures images don't exceed the container width */
  height: auto; /* Keeps the aspect ratio intact */
  margin-top: 5px;
  margin-bottom: 5px
}

.no-style {
  padding-left: 0px; /* Remove the padding */
  color: inherit; /* Inherit text color (or any color you prefer) */
  background-color: inherit; /* Inherit background color */
  width: auto;
}
